In [1]:
import requests
import pandas as pd

# More API Practice

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1iMD8EEI6BYGI6GmkABp8U3uLSRMjlk1f?usp=sharing)

## Column Manipulation

In [2]:
# API URL for fetching posts
url = 'https://jsonplaceholder.typicode.com/posts'

# Making the API call
response = requests.get(url)
response

In [3]:
# Check if the request was successful
if response.status_code == 200:
    # Convert JSON response to a DataFrame
    data = response.json()
    df = pd.DataFrame(data)
else:
    print(f"Failed to retrieve data: {response.status_code}")

In [4]:
df

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...
...,...,...,...,...
95,10,96,quaerat velit veniam amet cupiditate aut numqu...,in non odio excepturi sint eum\nlabore volupta...
96,10,97,quas fugiat ut perspiciatis vero provident,eum non blanditiis soluta porro quibusdam volu...
97,10,98,laboriosam dolor voluptates,doloremque ex facilis sit sint culpa\nsoluta a...
98,10,99,temporibus sit alias delectus eligendi possimu...,quo deleniti praesentium dicta non quod\naut e...
99,10,100,at nam consequatur ea labore ea harum,cupiditate quo est a modi nesciunt soluta\nips...

In [5]:
df = df[['id', 'title', 'body']]
df.head()

,id,title,body
0,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...

In [6]:
# Add word count columns
df['title_word_count'] = df['title'].apply(lambda x: len(x.split()))
df['body_word_count'] = df['body'].apply(lambda x: len(x.split()))
df.head()

,id,title,body,title_word_count,body_word_count
0,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...,9,23
1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...,3,31
2,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...,9,26
3,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...,4,28
4,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...,3,23

In [7]:
# Save DataFrame to CSV file, if needed
df.to_csv('posts_data.csv', index=False)

## API Key Example

In [8]:
import requests

In [9]:
'''url = 'https://api.example.com/data'
headers = {'Authorization': 'Bearer YOUR_API_KEY_HERE'}
response = requests.get(url, headers=headers)

if response.status_code == 200:
    print("API Data:", response.json())
else:
    print("Failed to access API")'''

'url = \'https://api.example.com/data\'\nheaders = {\'Authorization\': \'Bearer YOUR_API_KEY_HERE\'}\nresponse = requests.get(url, headers=headers)\n\nif response.status_code == 200:\n    print("API Data:", response.json())\nelse:\n    print("Failed to access API")'