In [ ]:
import pandas as pd
import numpy as np

# Join Functions in Pandas
Simple Data Edition

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1kjnuDt5HdnC_3HOL3kwV339s-8CvDnmG?usp=sharing)

In [ ]:
data_a = {'Fruit': ['Apple', 'Banana', 'Cherry', 'Date', 'Dragonfruit'], 'Price': [1.20, 0.50, 2.00, 3.00, 0.01]}
df_a = pd.DataFrame(data_a)
df_a

In [ ]:
data_b = {'Fruit': ['Apple', 'Banana', 'Elderberry', 'Fig'], 'Price': [100.30, 1000.55, 452.00, 200.50]}
df_b = pd.DataFrame(data_b)
df_b

Some fruits in df_a aren't in df_b. Because they don't have data in df_b, they return as NaN cells.

In [ ]:
pd.merge(df_a, df_b, on='Fruit', how='left')

Pandas columns must be unique, so it gives alphabet based suffixes if merged datasets have the same column name. Let's use custom suffixes instead.

In [ ]:
pd.merge(df_a, df_b, on='Fruit', how='left', suffixes=('_Walmart', '_Whole_Foods'))

In [ ]:
pd.merge(df_a, df_b, on='Fruit', how='inner', suffixes=('_Walmart', '_Whole_Foods'))

In [ ]:
pd.merge(df_a, df_b, on='Fruit', how='outer', suffixes=('_Walmart', '_Whole_Foods'))

### Left vs. Right Merges

Left join starts with all the columns on the left dataset. Elements in A not in B have NaNs.

In [ ]:
df_a.Fruit.tolist()

In [ ]:
pd.merge(df_a, df_b, on='Fruit', how='left', suffixes=('_Walmart', '_Whole_Foods'))

Right join starts with all the columns on the right dataset. Elements in B not in A have NaNs.

In [ ]:
df_b.Fruit.tolist()

In [ ]:
pd.merge(df_a, df_b, on='Fruit', how='right', suffixes=('_Walmart', '_Whole_Foods'))

Because left and right joins are essentially the same data, you get the same result by flipping the parameters and join type.

In [ ]:
# Left Join: A then B
pd.merge(df_a, df_b, on='Fruit', how='left', suffixes=('_Walmart', '_Whole_Foods'))

In [ ]:
# Right Join: B then A
pd.merge(df_b, df_a, on='Fruit', how='right', suffixes=('_Whole_Foods', '_Walmart'))

Same table! Just different column order.